body {
  background-color: rgb(73, 111, 102);
  background-color: #a020f0;
  background: radial-gradient(
    circle at center,
    rgb(73, 111, 102), /*rgb(73, 111, 102),  |  rgb(101, 111, 73)  |  rgb(169, 211, 53)*/
    purple,
    rgb(5, 74, 49)
  ); /*75, 532, 45  | 74, 5, 45  |  rgb(81, 40, 64)  |  rgb(5, 74, 49)*/
}

/*Contenido Principal*/
.content {
  flex: 1; /* Empuja el pie de página hacia el fondo cuando el contenido es insuficiente */
  padding: 20px 50px 50px 50px; /* Agrega espacio alrededor del contenido */
  margin-top: 61.5px;
  margin-bottom: 4px;
  background-color: rgba(
    124,
    112,
    112,
    0.5
  ); /* Color gris con 50% de transparencia */
}
#Info_Precentacion {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.img_contenido {
  margin-left: 150px;
}
#titulo {
  background-color: rgba(156, 156, 156, 0.159);
  font-family: Kristen ITC;
  color: rgb(93, 31, 93); /*rgb(47, 11, 47)*/
  text-shadow: 0 0 10px rgb(42, 8, 42), 0 0 20px purple, 0 0 30px rgb(18, 5, 18);
  text-align: center;
  animation: brillo 1.5s infinite alternate; /* Aplica la animación de brillo */
}
#titulo p {
  color: #4c2663;
}
/* Definición de la animación de brillo */
@keyframes brillo {
  0% {
    text-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 0px purple;
  }
  50% {
    text-shadow: 0 0 20px purple, 0 0 30px purple, 0 0 40px purple;
  }
  100% {
    text-shadow: 0 0 10px purple, 0 0 20px purple, 0 0 30px purple;
  }
}
.subtitulo{
  display: block;
  font-size: 25px;
  margin: 5px 0px 5px 0px;
  text-align: center;
}
.img_precentacion{ /*Div*/
  display: block;
  padding-left: 10%;
  padding-top: 0px;
  width: 360px;
}
.img_precentacion img { /*IMG del Div*/
  width: 100%;
  height: auto;
  max-width: 1500px;
  border-radius: 10px;
}
.precentacion {
  background-color: rgba(76, 70, 70, 0.205);
  text-align: center;
  font-family: Bodoni MT;
  font-size: 20px;
  margin-left: 170px;
  border-radius: 50px;
}
.contenido_Carac {
  margin-top: 70px;
  display: flex;
}
#caracteristicas {
  background-color: rgba(76, 70, 70, 0.205);
  text-align: left;
  font-family: Bodoni MT;
  font-size: 25px;
  padding: 0px 50px 0px 50px;
  border-radius: 50px;
}
#caracteristicas h4{
  padding-left: 60px;
}

.img_caract {/*Div*/
  display: block;
  padding-left: 10%;
  width: 450px;
}
.img_caract img{ /*IMG del Div*/
  width: 100%;
  height: auto;
  max-width: 1500px;
  border-radius: 10px;
}
